<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <a href="http://127.0.0.1:5000/"><button class="back-button"> Back to Main Page</button></a>
       
    <title>NBA Player Stats</title>
</head>
<body>
    <h1>NBA Player Stats</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Points</th>
                <th>Assists</th>
                <th>Rebounds</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player['name'] }}</td>
                    <td>{{ player['team'] }}</td>
                    <td>{{ player['points'] }}</td>
                    <td>{{ player['assists'] }}</td>
                    <td>{{ player['rebounds'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Add your content here -->
</body>
</html>




































































































